[package]
name = "zktc-emu"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.75"
clap = { version = "4.4.5", features = ["derive"] }
hex = "0.4.3"
rustyline = "12.0.0"
thiserror = "1.0.49"
